body {
  overflow-y: hidden;
}
.btn, .btn:focus, .btn:active {
  outline: none !important;
  background-color: #ff1940 !important;
  border: none !important;
}

.form-control:focus{
  border-color: #ff1940;
  box-shadow: 0 .2px .2px #ff899d inset, 0 0 8px #ff899d;
  outline: 0 none;
}

/* custom css */ 

.app{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  font-size: 16px;
}

.channels > ul, .messages > ul, .users > ul{
  flex: 1;
  overflow-y: auto;
}

.message > .author{
  flex-basis: 100%;
}

.message > .body{
  flex-basis: 100%;
}

.form-group{
  margin-bottom: 0;
}

ul{
  list-style-type:none;
  padding: 0;
}

.nav{
  flex-basis: 25%;
  background-color: #ff1940;
}

.nav .support{
  height: 100%;
  text-align: left;
  color: #fff;
}

.nav .support h3{
  margin-left: 20px;
  margin-bottom: 0;
}

.nav .support span{
  margin-left: 20px;
  font-size: 12px;
}