.btn, .btn:focus, .btn:active {
  outline: none !important;
  background-color: #ff1940 !important;
  border: none !important;
}

.form-control:focus{
  border-color: #ff1940;
  box-shadow: 0 .2px .2px #ff899d inset, 0 0 8px #ff899d;
  outline: 0 none;
}

/* custom css */ 

.app{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  font-size: 16px;
}

.channels > ul, .messages > ul, .users > ul{
  flex: 1;
  overflow-y: auto;
}

.message > .author{
  flex-basis: 100%;
}

.message > .body{
  flex-basis: 100%;
}

.form-group{
  margin-bottom: 0;
}

ul{
  list-style-type:none;
  padding: 0;
}

/* /////HERE///// */

.users{
  width: 30%;
  margin: 20% auto;
  text-align: center;
}

.users input {
  height: 40px;
  margin-bottom: 20px;
}

.users button {
  height: 40px;
  width: 100%;
}

.users button:hover{
  background-color: #c11734 !important;
  border: none;
}

.nav{
  flex-basis: 25%;
  background-color: #ff1940;
}

.nav .support{
  height: 100%;
  text-align: left;
  color: #fff;
}

.nav .support h3{
  margin-left: 20px;
  margin-bottom: 0;
}

.nav .support span{
  margin-left: 20px;
  font-size: 12px;
}

.channels{
  margin-top: 30px;
}

.channels li{
  font-size: 15px;
  padding: 20px;
  cursor: pointer;
}

.channels li:hover {
  background-color: #a0142c;
}

.channels li.active {
  background-color: #a0142c;
}

.message-panel{
  height: 85%;
  width: 100%;
}

.message-heading{
  height: 80px;
  text-align: center;
}

.messages{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98%;
}

.messages ul{
  background-color: #eaeaea;
  margin-bottom: 0;
}

.messages form{
  width: 80%;
  margin-left: 20px;
  padding-top: 30px;
}

.messages form input{
  height: 40px;
}

.default-message{
  padding-left: 20px;
  padding-top: 10px;
  height: 45px;
  width: 100%;
  background-color: lightgrey;
}

.message-user, .message-active-user{
  margin: 20px;
}

.message-user .body{
  background-color: #fff;
  padding: 10px;
  width: 50%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.message-active-user .body{
  color: #fff;
  background-color: #ff1940;
  padding: 10px;
  width: 50%;
  margin-left: 50%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.messages .send-button{
  color: #459eff;
  background-color: #fff !important;
  font-size: 20px;
  font-weight: 600;
}